---
const { productId } = Astro.params;
import ProductView from "../../components/ProductView.jsx";
---

<div>
    <p>Producto {productId}</p>
    <ProductView productId={productId} />
</div>

<style></style>
