---
const { productId } = Astro.params;
import ProductView from "../../components/ProductView.jsx";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Versale">
<div>
    <ProductView client:load productId={productId} />
</div>
</Layout>
