---
import Layout from "../layouts/Layout.astro";
import Signup from "../components/Signup"
---

<Layout title="Versale">
    <div class="mt-16">
        <h1 class="text-3xl font-bold text-center">Registro como Comprador</h1>
        <Signup path="/register-customer"/>
    </div>
</Layout>
